@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral-900: #062630;
  --neutral-700: #385159;
  --neutral-200: #e6e1df;
  --neutral-100: #faf5f3;
  --neutral-0: #ffffff;
  --light-salmon-500: #fea36f;
  --light-salmon-100: #fff5ef;
  --light-salmon-50: #fff5ef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--neutral-900);
    --foreground: var(--neutral-0);
  }
}

body {
  color: var(--neutral-900);
  background: var(--neutral-0);
  font-family: var(--font-martian-mono), monospace;
}
