@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral-900: #062630;
  --neutral-700: #385159;
  --neutral-200: #e6e1df;
  --neutral-100: #faf5f3;
  --neutral-0: #ffffff;
  --light-salmon-500: #fea36f;
  --light-salmon-100: #fff5ef;
  --light-salmon-50: #fff5ef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--neutral-900);
    --foreground: var(--neutral-0);
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    color: var(--neutral-900);
    background: var(--neutral-0);
    font-family: var(--font-martian-mono), monospace;
  }
}

@layer utilities {
  /* FONT SIZES */
  .text-preset-1 {
    @apply text-[3.875rem] font-bold leading-[1.2] -tracking-[2px];
  }

  .text-preset-1--mob {
    @apply text-[2.375rem] font-bold leading-[1.2] -tracking-[2px];
  }

  .text-preset-2 {
    @apply text-[3.125rem] font-semibold leading-[1.3] -tracking-[2px];
  }

  .text-preset-2--mob {
    @apply text-[2.125rem] font-semibold leading-[1.3] -tracking-[2px];
  }

  .text-preset-3 {
    @apply text-[2.125rem] font-semibold leading-[1.3] -tracking-[1px];
  }

  .text-preset-3--mob {
    @apply text-[1.5rem] font-semibold leading-[1.1] -tracking-[1px];
  }

  .text-preset-4 {
    @apply text-[1.5rem] font-semibold leading-[1.1] -tracking-[1px];
  }

  .text-preset-4--regular {
    @apply text-[1.5rem] font-normal leading-[1.2] -tracking-[1px];
  }

  .text-preset-5 {
    @apply font-sans text-[1.25rem] font-normal leading-[1.4] -tracking-[0.5px];
  }

  .text-preset-5--semibold {
    @apply font-sans text-[1.25rem] font-semibold leading-[1.4] -tracking-[0.5px];
  }

  .text-preset-6 {
    @apply text-[1.125rem] font-semibold leading-[1.3] -tracking-[1px];
  }

  .text-preset-6--mob {
    @apply text-[1rem] font-semibold leading-[1.3] -tracking-[1px];
  }

  .text-preset-7 {
    @apply text-[0.875rem] font-normal leading-[1.2] -tracking-[1px];
  }
}

.hero-main-bg {
  position: relative;
  background-image: url("/images/pattern-light-bg.svg");
  background-color: var(--neutral-100);
  overflow: hidden;
}

.footer-bg {
  background-image: url("/images/pattern-dark-bg.svg");
}

.highlighted::before {
  content: "";
  width: 109px;
  height: 47px;
  position: absolute;
  top: -5px;
  left: -5px;
  background-image: url("/images/pattern-circle.png");
  background-size: 109px 47px;
  background-repeat: no-repeat;
}

.reading-journey-step::before {
  content: "";
  width: 80px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("/images/pattern-arrow.svg");
  background-size: 80px 33px;
  background-repeat: no-repeat;
}

.reading-journey-step:last-child::before {
  background-image: none;
}

.pricing-table-pro {
  overflow: hidden;
  z-index: 1;
}

.pricing-table-pro::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 684px;
  height: 684px;
  bottom: -464px;
  right: -240px;
  background-image: url("/images/pattern-glow.svg");
  background-size: 684px 684px;
  background-repeat: no-repeat;
}

/* TABLET */

@media only screen and (min-width: 768px) {
  .highlighted::before {
    width: 159px;
    height: 68px;
    background-size: 159px 68px;
  }

  .hero-main-bg::before,
  .reading-journey-container::before {
    content: "";
    position: absolute;
    width: 684px;
    height: 684px;
    bottom: -226px;
    right: -392px;
    background-image: url("/images/pattern-glow.svg");
    background-size: 684px 684px;
    background-repeat: no-repeat;
  }
}
